<!--ABOUT-->
<section>
  <div class="lgx-about">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!--<h2 class="lgx-about-title">What About World Digital Conference 2019</h2>-->
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
                <span class="heading">What is the Atlanta Cloud Conference?</span>
              </h2>
            </div>
          </div>
          {# <div class="col-sm-5">
            <div class="lgx-about-video">
              <div class="about-video-inner">
                <div class="video-icon">
                  <span class="play-border">
                    <a id="myModalLabel" href="#" data-toggle="modal" data-target="#lgx-modal"><img src="assets/img/play.png" alt="play icon"/></a>
                  </span>
                </div>
                <!-- Modal-->
                <div id="lgx-modal" class="modal fade lgx-modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <iframe id="modalvideo" src="https://www.youtube.com/embed/P6_WPjl2d3A" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //.Modal-->
              </div>
            </div>
          </div> #}
          <div class="col-sm-12">
            <div class="lgx-about-text">
              <h4 class="hi-text">The Cloud Conference is a community focused event by and for the cloud community.</h4>
              <p class="text">The Atlanta Cloud Conference draws upon the expertise of local and regional administrators, architects, and experts who come together to share their real-world experiences, lessons learned, best practices, and general knowledge with other interested individuals.</p>
              {# <ul class="col-xs-12 col-sm-6">
                <li>Cloud Technologies
                <ul>
                    <li>Azure</li>
                    <li>AWS</li>
                    <li>GCP</li>
                  </ul>
                </li>
                <li>Programming
                <ul>
                    <li>.NET</li>
                    <li>javascript</li>
                    <li>Python</li>
                    <li>and more</li>
                  </ul>
                </li>
                <li>Platforms
                <ul>
                    <li>Windows</li>
                    <li>Linux</li>
                    <li>Android</li>
                    <li>iOS</li>
                    <li>MacOS</li>
                  </ul>
                </li>
                <li>Frameworks & Tools
                <ul>
                    <li>Containers</li>
                    <li>React /(Native)</li>
                    <li>Angular</li>
                    <li>Blazor</li>
                    <li>and more</li>
                  </ul>
                </li>
                <li>DevOps & ALM
                <ul>
                    <li>Github</li>
                    <li>Azure DevOps</li>
                    <li>Jira</li>
                    <li>Agile / Scrum</li>
                  </ul>
                </li>
                <li>Databases
                <ul>
                    <li>Relational Databases & SQL</li>
                    <li>NoSQL</li>
                    <li>Graph</li>
                    <li>and more</li>
                  </ul>
                </li>
              </ul>
              <ul class="col-xs-12 col-sm-6">
                <li>Emerging Technologies
                <ul>
                    <li>Embedded/IoT</li>
                    <li>Edge Computing</li>
                    <li>Augmented/Mixed/Virtual Reality</li>
                    <li>Smart Cities</li>
                  </ul>
                </li>
                <li>Operations & Infrastructure
                <ul>
                    <li>Containers</li>
                    <li>Kubernetes</li>
                    <li>Security</li>
                    <li>Identity</li>
                    <li>Monitoring</li>
                    <li>Networking</li>
                  </ul>
                </li>
                <li>Modern Workplace & Business Tools
                <ul>
                    <li>Teams/Slack</li>
                    <li>Power Platform</li>
                  </ul>
                </li>
                <li>Professional Development & Soft Skills
                <ul>
                    <li>Career Management</li>
                    <li>Team Building</li>
                    <li>Small Business Development</li>
                    <li>Consulting, Resumes & Interviewing</li>
                    <li>Public Speaking</li>
                    <li>and more</li>
                  </ul>
                </li>
              </ul> #}
              {# <a class="lgx-btn lgx-btn-brand lgx-btn-big" href="#">
                <span>Buy Ticket</span></a>
              <a class="lgx-btn lgx-btn-big" href="#">
                <span>Read More</span></a> #}
            </div>
          </div>
          <!--//.ROW-->
        </div>
        <!-- //.CONTAINER -->
      </div>
      <!-- //.INNER -->
    </div>
  </section>
  <!--ABOUT END-->