<!--SPONSORED-->
<section>
  <div id="lgx-sponsors" class="lgx-sponsors">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                <span class="heading">Download our App!</span>
              </h2>
            </div>
            <img src="\assets\img\App-page-redirect-qr.png" alt="phone" class="img-responsive center-block" style="
    margin-bottom: 20px;
            ">
            <a href='https://play.google.com/store/apps/details?id=com.qimatatech.atcconferences&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="height: 100px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
            <a href='https://apps.apple.com/us/app/atc-conferences/id6450556298'><img style="height: 70px" alt='Download on the App store' src='https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg'/></a>
          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//lgx-inner-->
  </div>
</section>
<!--SPONSORED END-->