<!--BANNER-->
<section>
  <div class="lgx-banner lgx-banner-gradient bg-devcon">
    <div class="lgx-banner-style bg-transparent">
      <div class="lgx-inner bg-transparent">
        <div class="container"> 
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-info">
                {# <img src="assets/svg/atldevcon-logo-white.svg" class="logo" alt="Atlanta Developers' Conference Logo"/> #}
                <h2 class="title">Atlanta <span>Developers'</span> Conference</h2>
                <h2 class="date">
                  <span>{{ site.eventDate | formatDate }}</span></h2>
                <div class="circular-countdown-area">
                  <div id="circular-countdown" data-date="{{ site.eventDate | format("P") }}" ></div>
                </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->
        </div>
        <!-- //.CONTAINER -->
      </div>
      <!-- //.INNER -->
    </div>
  </div>
</section>
<!--BANNER END-->