<!--BANNER-->
<section>
  <div class="lgx-banner lgx-banner-gradient bg-devcon">
    <div class="lgx-banner-style bg-transparent">
      <div class="lgx-inner bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <img src="assets/svg/atldevcon-logo-white.svg" class="logo" alt="Atlanta Developers' Conference Logo" />
              <div class="banner-info">
                <div class="circular-countdown-area">
                  <div id="circular-countdown" data-date="2022-09-15 00:00:00" ></div>
                </div>
                <h2 class="title">Atlanta Developers' Conference <span>2022</span></h2>
                <h3 class="date">
                  <span>Coming Soon in </span>2022, Atlanta, Georgia</h3>
              </div>
            </div>
          </div>
          <!--//.ROW-->
        </div>
        <!-- //.CONTAINER -->
      </div>
      <!-- //.INNER -->
    </div>
  </div>
</section>
<!--BANNER END-->