<!--FEATURED-->
{# <h2 class="lgx-heading-area">
  <span class="heading">Featured Speaker Session</span>
</h2>
<div style="
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
">
  <div style="max-width: 50%">
    <div style="
      display: flex;
      margin-bottom: 50px;
      justify-content: center;
    ">
      <a style="
        display: flex;
        flex: .5;
        padding: 10px;
      " href="https://www.epam.com/"><img src="/assets/img/sponsors/epam-logo.png" alt="EPAM Systems, Inc."/></a>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://sessionize.com/image/be81-400o400o2-fHngwKSq3r41BQUBmH35Qk.png" alt="Jared Rhodes" class="img-responsive"/>
    </div>
    <div class="col-xs-12 col-md-8">
      <h3>Jared Rhodes</h3>
      <p class="lead">Azure for the Enterprise - Getting Started</p>
      <p>
        After signing the Enterprise agreement with Microsoft, its time to start onboarding your first team to your Azure environment. How do you setup networking? How do you manage access controls? Where are the access logs? How do we prevent cyber attacks? What do we do with the existing applications in our data centers?
        In this session, we will cover the steps in creating an Azure environment for the enterprise by exploring different options available to satisfy enterprise requirements. These include: Policies, Role Based Access Controls, Disaster Recovery, and more.
      </p>
    </div>
  </div>
  <div style="max-width: 50%">
    <div style="
      display: flex;
      margin-bottom: 50px;
      justify-content: center;
    ">
      <a style="
        display: flex;
        flex: .5;
        padding: 10px;
      " href="https://improving.com"><img src="/assets/img/sponsors/improving-logo.png" alt="Improving"/></a>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://sessionize.com/image/49ac-400o400o2-3VBZ4mTKYiSrxTJzU8ptva.jpg" alt="John Ruzick" class="img-responsive"/>
    </div>
    <div class="col-xs-12 col-md-8">
      <h3>John Ruzick</h3>
      <p class="lead">Chaos in the Cloud: Resilience Testing in Microsoft Azure</p>
      <p>
      When deploying production applications to the cloud, there are many tools and techniques for monitoring performance and uptime for your application and infrastructure. But how can you get ahead of simply monitoring and start being proactive in planning for the unexpected? In this introductory session, we will cover the basic concepts of Chaos Engineering, including the importance of testing systems for resilience and the benefits of simulating unexpected events in a controlled environment. Using Azure Chaos Studio (Preview) and native tools such as Azure Monitor, we will demonstrate how to set up and conduct chaos experiments on Azure-based systems to simulate and monitor behavior within the cloud environment. Overall, this presentation will provide a solid foundation for attendees interested in learning more about how to use Chaos Engineering to improve the reliability and performance of their Azure-based systems.
    </p>
    </div>
  </div>
</div> #}
<!--FEATURED END-->