<!--FOOTER-->
<footer>
  <div id="lgx-footer" class="lgx-footer">
    <div class="lgx-footer-bg">
      <div class="lgx-inner">
        <div class="container">
          {# <div class="lgx-subscriber-area">
            <div class="lgx-testi-inner">
              <div class="container">
                <div class="row">
                  <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                    <h3 class="title">To Get Nearly Updates</h3>
                    <div class="lgx-subscriber">
                      <form class="subscribe-form lgx-subscribe-form" >
                        <div class="form-group">
                          <input type="email" id="subscribe" placeholder="Ex: themearth@gmail.com" class="form-control lgx-input-form form-control"/>
                        </div>
                        <div class="form-group">
                          <button type="submit" name="lgx-submit" id="lgx-submit" class="lgx-submit the-submit-btn">
                            <span>Subscribe</span></button>
                        </div>
                      </form>
                    </div>
                    <!--//.SUBSCRIBE-->
                  </div>
                </div>
                <!--//ROW-->
              </div>
              <!--//container-->
            </div>
            <!--//lgx-inner-->
          </div> #}
          <div class="lgx-logo">
            <a href="index.html" class="lgx-scroll">
              <img src="assets/img/logo-white.png" alt="Logo" />  
            </a>
          </div>
          <div class="footer-social">
            <ul class="list-inline">
              <li>
                <a class="sp-fb" href="https://facebook.com/atlantadeveloperconference">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="sp-tw" href="https://twitter.com/atlantadeveloperconference">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <p class="lgx-copyright">
            <span class="themename">Atlanta Developer Conference</span>
            <span class="text">is proudly supported by</span>
            Atlanta's Developer Community
          </p>
        </div>
        <!-- //.CONTAINER -->
      </div>
    </div>
    <!-- //.INNER-->
  </div>
</footer>
<!--FOOTER END-->