<!--HEADER-->
<header>
  <div id="lgx-header" class="lgx-header">
    <div class="lgx-header-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav id="menu-offscroll" class="navbar navbar-default lgx-navbar">
              <div class="container">
                <nav class="navbar navbar-default lgx-navbar">
                  <div class="lgxcontainer">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="lgx-logo">
                        <a href="index.html" class="lgx-scroll">
                          <img src="http://placehold.it/226x74" alt="Logo"/>
                        </a>
                      </div>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav lgx-nav">
                        <li class="dropdown">
                          <a href="JavaScript:void(0);">All Page<b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu multi-level">
                            <li>
                              <a href="index.html">Home (Default)</a>
                            </li>
                            <li>
                              <a href="index-banner.html">Home Banner</a>
                            </li>
                            <li>
                              <a href="index-typed.html">Home Typed</a>
                            </li>
                            <li>
                              <a href="index-slider.html">Home Slider</a>
                            </li>
                            <li>
                              <a href="index-contentslider.html">Home ContentSlider</a>
                            </li>
                            <li>
                              <a href="index-gradient.html">Home Gradient</a>
                            </li>
                            <li class="dropdown-submenu">
                              <a href="JavaScript:void(0);">Inner Pages <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li class="dropdown-submenu hidden-sm hidden-xs">
                                  <a href="#">Blog Pages <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a href="index.html#lgx-blog" class="lgx-scroll">Home Blog </a>
                                    </li>
                                    <li>
                                      <a href="blog-list.html">Blog List</a>
                                    </li>
                                    <li>
                                      <a href="blog-single.html">Blog Single</a>
                                    </li>
                                  </ul>
                                </li>
                                <li class="dropdown-submenu hidden-sm hidden-xs">
                                  <a href="JavaScript:void(0);">Speakers<b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <a href="index.html#lgx-speakers">Home Speakers</a>
                                    </li>
                                    <li>
                                      <a href="speakers-list.html">Speakers List</a>
                                    </li>
                                    <li>
                                      <a href="speaker-single.html">Speakers Single</a>
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <a href="sponsors-list.html">Sponsors</a>
                                </li>
                                <li>
                                  <a href="gallery.html">Video</a>
                                </li>
                                <li>
                                  <a href="contact.html">Contact</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="#lgx-speakers">Speaker</a>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="#lgx-schedule">Schedule</a>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="#lgx-sponsors">Sponsors</a>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="#lgx-register">Register</a>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="#lgx-blog">News</a>
                        </li>
                        <li>
                          <a class="lgx-scroll" href="contact.html">Contact</a>
                        </li>
                        <li>
                          <a class="lgx-scroll lgx-btn" href="#lgx-register">
                            <span>Buy Ticket</span></a>
                        </li>
                      </ul>
                    </div>
                    <!--/.nav-collapse -->
                  </div>
                </nav>
              </div>
              <!-- /.container -->
            </nav>
          </div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER-->
  </div>
</header>
<!--HEADER END-->