<!--HEADER-->
<header>
  <div id="lgx-header" class="lgx-header">
    <div class="lgx-header-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav id="menu-offscroll" class="navbar navbar-default lgx-navbar">
              <div class="container">
                <nav class="navbar navbar-default lgx-navbar">
                  <div class="lgxcontainer">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="lgx-logo">
                        <a href="/" class="lgx-scroll">
                          <img src="/assets/img/atldevcon-logo-white.png" alt="Logo" style="max-height: 75px;"/>
                        </a>
                      </div>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav lgx-nav">
                        <li >
                          <a href="/">Home
                          </a>
                        </li>
                        {# <li>
                          <a class="lgx-scroll" href="/#lgx-keynote">Keynote</a>
                        </li>  #}
                        {# <li> 
                          <a href="/speakers">Speakers</a>
                        </li> #}
                        {# <li>
                          <a href="/sessions">Sessions</a>
                        </li> #}
                        {# <li>
                          <a href="/schedule">Schedule</a>
                        </li>  #}
                        {# <li>
                          <a class="lgx-scroll" href="/#lgx-sponsors">Sponsors</a>
                        </li> #}
                        <li>
                          <a href="https://www.eventbrite.com/e/atlanta-cloud-conference-2023-registration-445303012297">Register</a>
                        </li>
                        {# <li>
                          <a class="lgx-scroll" href="contact.html">Contact</a>
                        </li> #}
                        <li>
                          <a href="/code-of-conduct">Code of Conduct</a>
                        </li>
                        <li>
                          {# <a class="lgx-btn" href="/#lgx-register">
                            <span>Buy Ticket</span>
                          </a> #}
                        </li>
                      </ul>
                    </div>
                    <!--/.nav-collapse -->
                  </div>
                </nav>
              </div>
              <!-- /.container -->
            </nav>
          </div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER-->
  </div>
</header>
<!--HEADER END-->