<!--TESTIMONIALS-->
<section>
  <div id="lgx-keynote"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Keynote</span>
                </h2>
                <div class="mx-8 border-x">
                                <h2>From Cold Calls to Code Calls:</h2>
              <h3>Leveraging Transferable Skills</h3>
              <p class="lead">After over a decade of success as a sales professional, I worried that switching careers meant starting all over. I’d put years of hard work I’d put into learning and establishing myself in a previous career, but this new “Junior” word at the beginning of my title implied that I was a newbie once again.</p>
              <br />
              <p class="lead">I was surprised to realize that my previous experience in sales (as well as experiences as a parent, friend, volunteer, etc) wasn’t work that I needed to just throw away. In fact, they have become unexpected assets in my software engineering career!</p>
              <br />
              <p class="lead">In this keynote, we will discuss the transferable skills that have proven invaluable in my career transition. Whether you’re looking for your first job in tech or whether you’re a tenured engineer, you will learn how to leverage your own transferable skills to get a unique competitive edge in the tech industry.</p>


                  </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img src="/assets/img/speakers/shaundai-person.jpg" alt="Shaundai Person" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>Shaundai Person</h3>
              <p class="lead">Senior Software Engineer, Netflix</p>
              <p>Shaundai is a Senior Software Engineer (Netflix) and TC39 Delegate based in Atlanta, GA, US. She is passionate about making programming interesting and approachable for all, and does that through her work as a course instructor (tsforjs.com), co-lead for React Robins (reactrobins.com), and technical blogger.</p>
              <p>In her spare time, Shaundai loves to go hiking, jogging, and listen to audiobooks. Find her on Twitter at @shaundai.</p>

            </div>

            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->