<!--TESTIMONIALS-->
<section>
  <div id="lgx-keynote"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Keynote</span>
                </h2>
                <div class="mx-8 border-x">
                                <h2>Success in a Chaotic IT World:</h2>
              <h3>Tips for New and Seasoned Pros</h3>
              <p class="lead">Get ready for a wild ride through the world of IT! In this keynote, we'll explore the often chaotic and always evolving world of technology, and provide tips and tricks for success, no matter where you are in your IT journey. Whether you're just starting out or you've been in the game for years, you'll discover the importance of staying on top of the latest developments in on-premises, hybrid cloud, and multi-cloud environments.

We'll delve into the key components of each environment, what skills you can carry over into each one and throw in a little dash of flavour with essential soft skills to achieve optimal results. We'll also discuss “the challenges” that come with managing these complex systems, such as scaling, monitoring, and troubleshooting, and offer practical advice for overcoming these hurdles.

This talk is designed to be both informative and entertaining, so we'll mix in plenty of humor and real-world examples to keep things interesting. By the end of the session, you'll have a solid understanding of the key elements of successful IT, and you'll be equipped with practical tips and resources to help you navigate your own IT journey with confidence. So buckle up, grab a coffee (or beer), and get ready to laugh your way to IT success!</p>


                  </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img src="/assets/img/speakers/rick-claus.jpg" alt="Rick Claus" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>Rick Claus</h3>
              <p class="lead">Engineering Manager, Spot AI</p>
              <p>Rick Claus has been in the IT industry for over three decades and got his big break by jiggling the cable to get a printer to work. He now leads a team of worldwide Cloud Advocates at Microsoft who create content that cover everything from Security to Cloud Native solutions with a soft spot for on-premises Hybrid Infrastructure. Rick's journey in the IT industry may have started with a simple task of racking and stacking servers, but he has since climbed the ranks to become a humorous voice in the world of cloud computing. With a wealth of experience and a unique perspective, Rick has lived the life of an IT professional and has plenty of stories to tell and the scars to prove them. His journey has given him a deep understanding of the evolution of technology and has equipped him with the skills to succeed in today's hybrid cloud world. Whether you're looking for tips on navigating complex systems or just need a good laugh, Rick is the man for the job.</p>

            </div>

            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->