<!--TESTIMONIALS-->
<section>
  <div id="lgx-keynote"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Keynote</span>
                </h2>
                <div class="mx-8 border-x">
                                <h2>Turning Curiosity Into Opportunity:</h2>
              <h3>How To Inspire and Mentor Others on Their Engineering Journey</h3>
              <p class="lead">No matter where you're at in your programming career, there will always be someone who can learn from you. This keynote will leave you inspired to expand your network, share your story, and seek out mentorship opportunities whether you're a junior or senior engineer.</p>


                  </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img src="/assets/img/speakers/kelly-vaughn.jpg" alt="Kelly Vaughn" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>Kelly Vaughn</h3>
              <p class="lead">Engineering Manager, Spot AI</p>
              <p>Kelly Vaughn is a software engineer, entrepreneur, and purveyor of developer jokes on Twitter. She's passionate about providing a learning path for junior engineers and coaching individual contributors into leadership roles. She is currently an Engineering Manager at Spot AI. When she's not working, you'll probably find her on her Peloton, traveling to a new country, or spending time at a coffee shop to make a tiny dent in her never-ending book collection.</p>

            </div>

            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->