<section>
  <div id="lgx-map" class="lgx-map bg-devcon">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                <span class="heading">Conference Location</span>
              </h2>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="center">Kennesaw State University - Marietta</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13240.417546214183!2d-84.5231876!3d33.9384432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x172cb033cc803e68!2sEngineering%20Technology%20Center%20-%20Kennesaw%20State%20University%2C%20Marietta!5e0!3m2!1sen!2sus!4v1661872225062!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <!--//col-->
        </div>

      </div>
      <!--//container-->
    </div>
    <!--//lgx-inner-->
  </div>
</section>
