<section>
  <div id="lgx-map" class="lgx-map bg-devcon">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                <span class="heading">Conference Location</span>
              </h2>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="center">Innovation Academy</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13218.98353436248!2d-84.2989609!3d34.0760279!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f575c8b677a463%3A0x18e450a972d9c243!2sInnovation%20Academy!5e0!3m2!1sen!2sus!4v1716990043524!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <!--//col-->
        </div>

      </div>
      <!--//container-->
    </div>
    <!--//lgx-inner-->
  </div>
</section>
