<!--SLIDER-->
<section>
  <div class="lgx-slider">
    <div class="lgx-banner-style">
      <div class="lgx-inner">

        <div id="lgx-main-slider" class="owl-carousel ">

          <!--SLIDER ITEM 1-->

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-1.jpg" alt="slide"/>
                  <figcaption class="bg-semitransparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          <h3 class="lgx-subtitle">Great Seeing You There!</h3>
                          <h2 class="lgx-title">Atlanta Developers' Conference <span>2023</span></h2>
                          <h3 class="date">
                            <span>Next Year's Date </span>{{ site.eventDate | formatDate }}</h3>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-2.jpg" alt="slide"/>
                  <figcaption class="bg-semitransparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        {# <div class="lgx-vertical">
                          <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You <span>Kelly Vaughn</span></h2>
                        </div> #}
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-3.jpg" alt="slide"/>
                  <figcaption class="bg-semitransparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          <h3 class="lgx-subtitle">We Couldn't Have Done It Without Them</h3>
                          <h2 class="lgx-title">Thank You to <span>All Our Sponsors</span></h2>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-4.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-5.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-6.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-7.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-8.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-9.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

          <div class="lgx-item-common lgx-item-left">

            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <img src="assets\img\carousel\carousel-A.jpg" alt="slide"/>
                  <figcaption class="bg-transparent">
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          {# <h3 class="lgx-subtitle">Great Keynote Speech</h3>
                          <h2 class="lgx-title">Thank You Kelly Vaughn</h2> #}
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <!--//.col-->
          </div>

        </div>
        <!--//.lgx-main-slider-->

        <!-- //.CONTAINER -->
      </div>
      <!-- //.INNER -->
    </div>
  </div>
</section>
<!--SLIDER END-->

{# <!--BANNER-->
<section>
  <div class="lgx-banner lgx-banner-gradient bg-devcon">
    <div class="lgx-banner-style bg-transparent">
      <div class="lgx-inner bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-info">
                {# <img src="assets/svg/atldevcon-logo-white.svg" class="logo" alt="Atlanta Developers' Conference Logo"/>
<h2 class="title">Atlanta <span>Developers'</span> Conference</h2>
</div>
</div>
</div>
<!--//.ROW-->
</div>
<!-- //.CONTAINER -->
</div>
<!-- //.INNER -->
</div>
</div>
</section>
<!--BANNER END-->
#}