<!--PHOTO GALLERY-->
<section>
  <div id="lgx-photo-gallery" class="lgx-photo-gallery">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Photo Gallery</span>
              </h2>
              <p class="text">
                                Conferences dedicated to building remarkable events.
                            </p>
            </div>
          </div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <div id="lgx-memorisinner" class="lgx-memorisinner">
      <div class="container-fluid text-center">
        <div class="row">
          <div  class="lgx-single">
            <figure>
              <img title="Memories One" src="http://placehold.it/1000x698" alt="Memories one"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories One" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Two" title="Memories Two"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Two" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Three" title="Memories Three"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Three" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Four" title="Memories Four"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Four" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Five" title="Memories Five"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Five" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Six" title="Memories Six"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Six" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Seven" title="Memories Seven"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Seven" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Eight" title="Memories Eight"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Eight" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img title="Memories One" src="http://placehold.it/1000x698" alt="Memories one"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories One" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Five" title="Memories Five"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Five" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Six" title="Memories Six"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Six" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div  class="lgx-single">
            <figure>
              <img src="http://placehold.it/1000x698" alt="Memories Seven" title="Memories Seven"/>
              <figcaption class="lgx-figcaption">
                <div class="lgx-hover-link">
                  <div class="lgx-vertical">
                    <a title="Memories Seven" href="http://placehold.it/1000x698">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <!--//.CONAINER-->
    </div>
    <!--//.lgx CONTACT INNER-->
  </div>
</section>
<!--PHOTO GALLERY END-->