<!--REGISTER-->
<section>
  <div id="lgx-register" class="lgx-register lgx-register-gradient">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area lgx-heading-brand">
              <h2 class="lgx-heading ">
                <span class="back-heading">
                  <i class="fa fa-ticket" aria-hidden="true"></i>
                </span>
                <span class="heading">Tickets and Dates Are Coming Soon!</span>
              </h2>
              <p class="text">
                                We're in the planning stages, but will have news to share soon!
                            </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        {# <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price">36<span>$</span></h4>
                <h3 class="title">Initial Pass</h3>
                <p>Attend only First day</p>
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Unlimited Entrance</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Comfortable Seat</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Paid Certificate</li>
                  <li>
                    <i class="fa fa-times" aria-hidden="true"></i> Day One Workshop</li>
                  <li>
                    <i class="fa fa-times" aria-hidden="true"></i> One Certificate</li>
                </ul>
                <a class="lgx-btn" href="#">
                  <span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single active">
              <div class="single-top">
                <h4 class="price">69<span>$</span></h4>
                <h3 class="title">Golden Pass</h3>
                <p>Attend only First day</p>
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Unlimited Entrance</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Comfortable Seat</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Paid Certificate</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Day One Workshop</li>
                  <li>
                    <i class="fa fa-times" aria-hidden="true"></i> One Certificate</li>
                </ul>
                <a class="lgx-btn" href="#">
                  <span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price">98<span>$</span></h4>
                <h3 class="title">Dimond Pass</h3>
                <p>Attend only First day</p>
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Unlimited Entrance</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Comfortable Seat</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Paid Certificate</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Day One Workshop</li>
                  <li>
                    <i class="fa fa-check" aria-hidden="true"></i> One Certificate</li>
                </ul>
                <a class="lgx-btn" href="#">
                  <span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
        </div> #}
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
<!--REGISTER END-->