<!--REGISTER-->
<section>
  <div id="lgx-register" class="lgx-register lgx-register-gradient bg-devcon">
    <div class="lgx-inner bg-transparent">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area lgx-heading-brand">
              <h2 class="lgx-heading ">
                <span class="back-heading">
                  <i class="fa fa-ticket" aria-hidden="true"></i>
                </span>
                <span class="heading">Register for Atlanta Developers' Conference now!</span>
              </h2>
          </div>
          <!--//main COL-->
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>10</h4>
                <h3 class="title">First Developer</h3>
                <p>Sales end on Jul 30, 2023</p>
              </div>
              <div class="single-bottom">
                <a class="lgx-btn" href="https://www.ticketleap.events/tickets/developers-association-georgia/atlanta-developers-conference-2024">
                  <span>Register</span></a>
              </div>
            </div>
          </div>
          {# <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>15</h4>
                <h3 class="title">Early Bird</h3>
                <p>Sales end on Aug 25, 2023</p>
              </div>
              <div class="single-bottom">
                <a class="lgx-btn" href="https://www.ticketleap.events/tickets/developers-association-georgia/atlanta-developers-conference-2024">
                  <span>Register</span></a>
              </div>
            </div> 
          </div> #}
          {# <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>20</h4>
                <h3 class="title">General Admission</h3>
                {# <p>Sales start on Aug 26, 2023</p> #}
              </div>
              <div class="single-bottom">
                <a class="lgx-btn" href="https://www.ticketleap.events/tickets/developers-association-georgia/atlanta-developers-conference-2024">
                  <span>Register</span></a>
              </div>
            </div>
          </div> #}
          
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
<!--REGISTER END-->