<!--SPONSORED-->
<section>
  <div id="lgx-sponsors" class="lgx-sponsors">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                <span class="heading">Sponsors</span>
              </h2>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        {# <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading">Speaker Dinner</h3>
            <div class="sponsors-area">
              <div class="single">
                <a class="" href="https://xpirit.com/"><img src="/assets/img/sponsors/xpirit-logo.png" alt="Xebia | Xpirit"/></a>
              </div>
            </div>
          </div> 
          <!--//col-->
        </div> #}
        <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading first-heading">Platinum Sponsor</h3>
            <div class="sponsors-area">
              <div class="single">
                <a class="" href="https://fanduel.com"><img src="/assets/img/sponsors/fanduel_lg_hrz_rgb_blu_pos.jpg" alt="Fan Duel"/></a>
              </div>
              {# <div class="single">
                <a class="" href="https://ccse.kennesaw.edu/"><img src="/assets/img/sponsors/kssu-ccse-logo.png" alt="Kennesaw State University - College of Computing and Software Engineering"/></a>
              </div>
              <div class="single">
                <a class="" href="https://improving.com"><img src="/assets/img/sponsors/improving-logo.png" alt="Improving"/></a>
              </div> #}
            </div>
          </div>
          <!--//col-->
        </div>
        <!--//row-->
        <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading">Gold Sponsors</h3>
            <div class="sponsors-area">
               <div class="single">
                <a class="" href="https://improving.com"><img src="/assets/img/sponsors/improving-logo.png" alt="sponsor"/></a>
              </div>
            </div>
          </div>
          <!--//col-->
         </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading">Silver Sponsors</h3>
            <div class="sponsors-area">
              {# <div class="single">
                <a class="" href="https://www.atmosera.com/"><img src="/assets/img/sponsors/atmosera-logo.png" alt="Atmosera"/></a>
              </div> #}
              <div class="single">
                <a class="" href="https://www.adobe.com/express/"><img src="/assets/img/sponsors/AdobeExpress.jpg" alt="Adobe Express"/></a>
              </div>
              <div class="single">
                <a class="" href="https://wildermuth.com/training"><img src="/assets/img/sponsors/WM_Logo_Trans_Big.png" alt="Wilder Minds"/></a>
              </div>
            </div>
          </div> 
          <!--//col-->
         </div>
        {# <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading">Swag</h3>
            <div class="sponsors-area">
              <div class="single">
                <a class="" href="https://kontent.ai/"><img src="/assets/img/sponsors/kai-logo.png" alt="sponsor"/></a>
              </div>
            </div>
          </div>
          <!--//col-->
        </div> #}
        <!--//row-->
        <div class="text-center">
          <p class="lead">Join these great sponsors! Grab the sponsorship packet here:</p>
          <div class="mt-4">
            <a href="/assets/pdfs/ATLDevCon2024-SponsorshipPacket.pdf" type="button" class="btn btn-success btn-lg">Download the Sponsorship Packet</a>
          </div>
        </div>

      </div>
      <!--//container-->
    </div>
    <!--//lgx-inner-->
  </div>
</section>
<!--SPONSORED END-->
