<!--TESTIMONIALS-->
<section>
  <div id="lgx-testimonials"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Testimonials</span>
                </h2>
                <p class="text">
                                    Conferences dedicated to building remarkable events.
                                </p>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-sm-12">
              <div class="lgx-testiowlarea">
                <div id="lgx-owltestimonial" class="owl-carousel lgx-owltestimonial">

                  <div class="item lgx-fadeInLeft">
                    <figure class="lgx-client-image">
                      <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                      <figcaption class="lgx-zoomIn-q">
                        <i class="fa fa-quote-left"></i>
                      </figcaption>
                    </figure>
                    <div class="testi-info-area">
                      <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                      <h4 class="lgx-client-name">Jonathona Islam Sagar<span>CEO of LogicHunt</span></h4>
                    </div>
                  </div>
                  <!--//.Item-->
                  <div class="item lgx-fadeInLeft">
                    <figure class="lgx-client-image">
                      <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                      <figcaption class="lgx-zoomIn-q">
                        <i class="fa fa-quote-left"></i>
                      </figcaption>
                    </figure>
                    <div class="testi-info-area">
                      <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                      <h4 class="lgx-client-name">Jonathon Roy Jewel<span>CEO of LogicHunt</span></h4>
                    </div>
                  </div>
                  <!--//.Item-->
                  <div class="item lgx-fadeInLeft">
                    <figure class="lgx-client-image">
                      <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                      <figcaption class="lgx-zoomIn-q">
                        <i class="fa fa-quote-left"></i>
                      </figcaption>
                    </figure>
                    <div class="testi-info-area">
                      <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                      <h4 class="lgx-client-name">Devid Jonathona Roy<span>CEO of LogicHunt</span></h4>
                    </div>
                  </div>
                  <!--//.Item-->
                </div>
                <!--l//#LGX-OWL TESTIMONIAL-->
              </div>
            </div>
            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->