---
title: "Atlanta Developers' Conference"
layout: _layout.njk
template: home
---
{% include "banner.njk" %}
{# {% include "nextyear.njk" %} #}
{# {% include "keynote.njk" %} #}
{% include "about.njk" %}
{# {% include "register.njk" %} #}
{% include "speakers.njk" %}
{% include "sponsors.njk" %}
{# {% include "photos.njk" %}
{% include "schedule.njk" %}
{% include "testimonials.njk" %}#}
{# {% include "location.njk" %} #}
{# {% include "map.njk" %}  #}