---
title: "Atlanta Developers' Conference - Sessions"
layout: _basiclayout.njk
pagename: "Sessions"
icon: "user-circle"
---
<div>
  <script type="text/javascript" src="https://sessionize.com/api/v2/{{ site.sessionize.embedId }}/view/Sessions"></script>
</div>