---
title: "Atlanta Developers' Conference - Speakers"
layout: _basiclayout.njk
pagename: "Speakers"
icon: "bullhorn"
---
{# {% include "featured.njk" %} #}
<h1>Featured Speakers</h1>
<div>
  <script type="text/javascript" src="https://sessionize.com/api/v2/{{ site.sessionize.embedId }}/view/SpeakerWall"></script>
</div>
<h1>Speakers</h1>
<div>
  <script type="text/javascript" src="https://sessionize.com/api/v2/{{ site.sessionize.embedId }}/view/Speakers"></script>
</div>