---
title: "Atlanta Developers' Conference - Speakers"
layout: _basiclayout.njk
pagename: "Speakers"
icon: "bullhorn"
---
<div>
  <script type="text/javascript" src="https://sessionize.com/api/v2/{{ site.sessionize.embedId }}/view/SpeakerWall"></script>
</div>