---
permalink: '/sponsors.json'
---
[
  {
    "sponsor_level": "Speaker Dinner",
    "sponsors": [
      {
        "name": "Xebia | Xpirit",
        "url": "https://xpirit.com/",
        "uri": "https://www.atldevcon.com/assets/img/sponsors/xpirit-logo.png",
        "sessions" : []
      }
    ]
  },
  {
    "sponsor_level": "Platinum",
    "sponsors": [
      {
        "name": "Kennesaw State University",
        "url": "https://ccse.kennesaw.edu/",
        "uri": "https://www.atldevcon.com/assets/img/sponsors/kssu-ccse-logo.png",
        "sessions" : []
      },
      {
        "name": "Improving",
        "url": "https://improving.com/",
        "uri": "https://www.atldevcon.com/assets/img/sponsors/improving-logo.png",
        "sessions" : []
      }
    ]
  },
  {
    "sponsor_level": "Gold",
    "sponsors": [
      {
        "name": "Tyler Technologies",
        "url": "https://www.tylertech.com/",
        "uri": "https://www.atldevcon.com/assets/img/sponsors/tyler-logo.png",
        "sessions" : []
      },
      {
        "name": "Atmosera",
        "url": "https://www.atmosera.com/",
        "uri": "https://www.atldevcon.com/assets/img/sponsors/atmosera-logo.png",
        "sessions" : []
      }
    ]
  }
]
