---
permalink: '/sponsors.json'
---
[
   {
      "sponsor_level":"Platinum",
      "sponsors":[
         {
            "name":"Fanduel",
            "url":"https://www.fanduel.com/",
            "uri":"https://www.atldevcon.com/assets/img/sponsors/fanduel_lg_hrz_rgb_blu_pos.jpg",
            "sessions":[
               {
                  "id":734088,
                  "name":"Creating personalized experiences in world of sports via ML Engineering"
               },
               {
                  "id":734848,
                  "name":"Bigger than Blockchain: The Oracle Revolution"
               }
            ]
         }
      ]
   },
   {
      "sponsor_level":"Gold",
      "sponsors":[
         {
            "name":"Improving",
            "url":"https://improving.com/",
            "uri":"https://www.atldevcon.com/assets/img/sponsors/improving-logo.png",
            "sessions":[
               {
                  "id":709410,
                  "name":"Transforming Legacy to Leading Edge: Dive into the World of Application Modernization!"
               },
               {
                  "id":730169,
                  "name":"Kubernetes: how does it actually work?"
               },
               {
                  "id":705946,
                  "name":"Code is Read"
               },
               {
                  "id":734017,
                  "name":"Tailwind CSS: Benefits of Utility First CSS"
               },
               {
                  "id":705932,
                  "name":"The Power of Active Listening"
               }
            ]
         }
      ]
   },
   {
      "sponsor_level":"Silver",
      "sponsors":[
         {
            "name":"Adobe Express",
            "url":"https://www.adobe.com/express/",
            "uri":"https://www.atldevcon.com/assets/img/sponsors/AdobeExpress.jpg",
            "sessions":[
               
            ],
            "name":"Wilder Minds",
            "url":"https://wildermuth.com/training/",
            "uri":"https://www.atldevcon.com/assets/img/sponsors/WM_Logo_Trans_Big.png",
            "sessions":[
               {
                  "id":731042,
                  "name":"Aspiring to Connect: Using Aspire to Orchestrate Connected Applications"
               }
            ],
            "name":"Hylaine",
            "url":"https://www.hylaine.com/",
            "uri":"https://www.atldevcon.com/assets/img/sponsors/hylainebluetransparent.png",
            "sessions":[
               {
                  "id":709501,
                  "name":"Coding Without Conditions"
               }
            ]
         }
      ]
   }
]